.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 52px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.upperLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lowerLinks {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLink {
    height: 8px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 12px;
    color: #8e8e8e;
    text-decoration: none;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.select {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.footerSelect {
    cursor: pointer;
    border: none;
    outline: none;
    appearance: none;
    color: #8e8e8e;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.footerSpan {
    display: inline-block;
    transform: rotate(180deg);
}