.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 52px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: aqua;
}

.upperLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lowerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}